body, html {
	font: 20px "Consolas", Arial, sans;
	background-color: #000;
  color: #fff;
}

.no-scrollbar {
	scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* .shitty-button {
	background:  #788cfa;
  height: 200px;
	width: 300px;
  position: relative;
  left: 100px;
  top: 100px;
  border: 4px solid #1a2041;
  border-radius: 20%;
	text-align: center;
	font:  1.5em 'Lobster', cursive;
	display: table-cell;
	vertical-align: middle;
  transition: transform 2000ms ease-in-out;
}

.shitty-button:hover {
  transform: translate(800px, 400px) rotate(600deg);
} */

.test {
  height: 500px;
  width: 500px;
}

.demotivator-img {
	display: block;
	position: absolute;
	max-height: 75%;
	max-width: 90%;
	width: auto;
	left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  bottom: 22%;
	padding: 4px;
	border: 3px solid #fff;
}

.bottom-text {
	background-color: #000;
	color: #fff;
	position: fixed;
	height: 22%;
  text-align: center;
  font-size: 1em;
  bottom: 0;
  width: 100%;
	z-index: 100;
}

.subscript {
	margin: 3em 5% auto auto;
	font: 1em "Cormorant Garamond";
	text-align: right;
}

.bottom-text footer {
	font: 0.8em "Cormorant Garamond";
	position: absolute;
	right: 10px;
	bottom: -6px;
}

.bottom-margin {
	position: static;
	z-index: -100;
	margin: 5% auto 17% auto;
	text-align: center;
	color: #f00;
	font-family: "Cormorant Garamond";
	transition: color 0.4s ease,transform 0.4s ease;
}

.bottom-margin:hover {
	color: #000;
	transform: rotate(-360deg);
}

.bottom-text h1 {
  font: 5em "Times New Roman";
  line-height: 0.25;
}

.bottom-text h2 {
  font: 1.5em Arial;
	margin-bottom: 10px;

}

section {
	line-height: 1.4;
	width: 1000px;
	margin: auto;
}

.intro {
	font-style: italic;
	color: #bbb;
	margin-bottom: 3em;
}
